.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
::before,
::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  background: url(../img/global__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.hidden {
  visibility: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* header */

header {
  padding: 24px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.header-list {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.header-item {
  margin: 12px;
}

.header-link {
  text-decoration: none;
  color: #f9fafb;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease;
}

.header-link:hover {
  color: #d946ef;
}

.header-button {
  padding: 12px 24px;
  line-height: 1.5;
}

/* start */

.solution-container {
  display: flex;
}

.start-inner {
}

.start-title {
  background: -webkit-linear-gradient(90deg, #2563eb 0.11%, #d946ef 58.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  font-size: 58px;
  font-weight: 700;
  line-height: 84px; /* 144.828% */
  letter-spacing: 1.16px;
  margin-bottom: 32px;
}

.start-article {
  color: #e5e7eb;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  font-size: 15px;
  font-weight: 500;
  line-height: 30px; /* 200% */
  margin-bottom: 32px;
}

.start-buttons {
  display: flex;
}

.start-button {
  padding: 12px 24px;
  margin-right: 32px;
}

.start-button-video {
  display: flex;
  align-items: center;
  background: none;
  color: #f9fafb;
  border: none;
}

.start-button-video span {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

/* service */

.service {
  padding: 120px 0;
}

.service-title {
  display: flex;
  justify-content: center;

  color: #fff;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
}

.service-text {
  display: flex;
  justify-content: center;
}

.service-article {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 40px;
}

.service-items {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 34px;
  border: 1px solid var(--Bg-2, rgba(255, 255, 255, 0.08));
  background: linear-gradient(
    268deg,
    rgba(254, 254, 255, 0.03) -11.04%,
    rgba(255, 255, 255, 0.02) 104.89%
  );

  /* Shadow  */
  box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
  padding: 20px 40px;
}

.service-item-icon {
  margin-bottom: 18px;
}

.service-item-title {
  margin-bottom: 18px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.service-item-article {
  margin-bottom: 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  text-align: start;
}

.service-item-link {
  display: flex;
  text-decoration: none;
}

.service-item-link span {
  color: #fff;
  margin-right: 8px;
}

/*Information*/

.information {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.information-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.information-3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.inform-item {
  width: 582px;
}

.inform-title {
  font-weight: 700;
  font-size: 42px;
  color: white;
  padding-bottom: 32px;
}

.inform-article {
  color: white;
  padding-bottom: 30px;
}




/* Main Team */

.main-team {
  padding-top: 120px;/* Задаємо внутрішний відступ зверху 120px */
  padding-bottom: 120px;/* Задаємо внутрішний відступ знизу 120px */
}

.main-team-container {
  display: flex;/* Відображення flex. Додайте flex контейнер. Це робить його гнучким. */
  /* Встановлюємо напрямок у якому елементи розміщатимуться в колонку */
}

.main-team-logo {
  font-weight: 600;/* Встановіть товищну(жирність) тексту 700 */
  font-size: 36;/* Встановіть розмір шрифту 36 */
  line-height: 1.11;/* Встановіть міжрядковий інтервал 1.11 */
  text-align: center;/* Встановіть текст по центру (самостійно, цієї інфи ви не знайдете на листочках) */
  letter-spacing: 0.02em;/* Встановіть інтервал між символами 0.02em */
  /* Встановіть регістр символів у тексті який буде робити перший символ кожного слова в реченні заголовним*/
  margin-bottom: 30;/* Встановіть зовнішній відступ знизу 30  */
  color: white;/* Встановіть білий колір */
}

.main-title-text {
  display: flex;/* Відображення flex. Додайте flex контейнер. Це робить його гнучким. */
  /* Встановіть елемент по центру (самостійно, цієї інфи ви не знайдете на листочках) */
  text-align: center;/* Встановіть текст по центру (самостійно, цієї інфи ви не знайдете на листочках) */
  height: 480;/* Встановіть ширину 480 */
  margin-bottom: 40;/* Встановіть зовнішній відступ знизу 40 */
  color: white/* Встановіть білий колір */
}

.main-team-images {
  display: flex;/* Відображення flex. Додайте flex контейнер. Це робить його гнучким. */
  /* Встановлюємо напрямок у якому елементи розміщатимуться в колонку */
  background-color: rgba(254, 254, 255, 0.032) rgba(255, 255, 255, 0.018);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  /* Встановіть радіус рамика в 10px */
  border: 1px ;/* Встановіть рамку в 1px та задайте любий колір */
  border: 1px ;/* Встановіть рамку в 1px та задайте любий колір */
}

.main-team-images2 {
  display: flex;/* Відображення flex. Додайте flex контейнер. Це робить його гнучким.  */
  /* Встановіть елемент по центру (самостійно, цієї інфи ви не знайдете на листочках) */
  /* Встановіть радіус рамика в 50% */
  margin-top: 20;/* Встановіть зовнішній відступ зверху 20 */
}

.main-team-card {
  display: flex;/* Відображення flex. Додайте flex контейнер. Це робить його гнучким. */
  /* Встановіть позиціонуванням елементів на головній осі по центру */
  /* Встановіть відступ 24 (властивість яка відкривається завдяки flex */
}

.main-team-title {
  font-weight: 500;/* Встановіть товищну(жирність) тексту 500 */
  font-size: 20;/* Встановіть розмір шрифту 20 */
  line-height: 1.2;/* Встановіть міжрядковий інтервал 1.2 */
  text-align: center;/* Встановіть текст по центру (самостійно, цієї інфи ви не знайдете на листочках) */
  letter-spacing: 0.02em;/* Встановіть інтервал між символами 0.02em */
  color: white;/* Встановіть білий колір */
  margin-top: 32;/* Встановіть зовнішній відступ зверху 32 */
  margin-bottom: 8;/* Встановіть зовнішній відступ знизу 8 */
}

.main-team-text {
  /* Встановіть товищну(жирність) тексту 400 */
  /* Встановіть розмір шрифту 16 */
  /* Встановіть міжрядковий інтервал 1.5 */
  /* Встановіть текст по центру (самостійно, цієї інфи ви не знайдете на листочках) */
  /* Встановіть інтервал між символами 0.02em */
  /* Встановіть білий колір */
  /* Встановіть зовнішній відступ знизу 8 */
}

.main-soc-list {
  /* Відображення flex. Додайте flex контейнер. Це робить його гнучким. */
  /* Встановіть позиціонуванням елементів на головній осі по центру */
  /* Встановіть відступ 24 (властивість яка відкривається завдяки flex */

  /* Встановіть внутрішній відступ знизу 20 */
  /* Встановіть внутрішній відступ зліва 10 */
  /* Встановіть внутрішній відступ справа 10 */
}

.main-soc-item {
  /* Встановіть ширину 40 */
  /* Встановіть висоту 40 */
}

.main-soc-link {
  /* Встановіть колір фону #0077b5 */

  /* Встановіть ширину 100% */
  /* Встановіть висоту 100% */
  /* Встановіть радіус рамика в 50% */

  /* Відображення flex. Додайте flex контейнер. Це робить його гнучким. */
  /* Встановіть позиціонуванням елементів на головній осі по центру */
  /* Встановіть розташуванням елементів вздовж поперечної осі по центру */
}

.main-soc-icon {
  fill: #f4f4fd;
}
